:root{
    font-size: 16px;
    font-family: 'Open Sans';

    --text-primary:#b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

/* scrollbar edt */
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background:#1e1e24;
}
body::-webkit-scrollbar-thumb {
    background:#F8613C;
}

/* small screen */
@media only screen and (max-width:550px){
    .navbar{
        bottom: 0;
        width: 100%;
        height: 13%;
        position: fixed;
        background-color: var(--bg-primary);
        transition: width 200ms ease;
        
    }
    .logo{
        display: none;
    }

    .navbar-nav{
        flex-direction: row;
    }
    .nav-link{
        justify-content: center;
        display: flex;
        align-items: center;
        height: 5rem;
        color: var(--text-primary);
        text-decoration: none;
        filter: grayscale(100%) opacity(0.7);
        transition: 600ms;
    }
    main{
        margin:10px;
    }
    .navbar:hover .link-text{
        display: none;
    }
    .nav-link svg {
        max-width: 1.5rem;
        min-width: 1.5rem;
        margin: 0 1.5rem;
    }
    
    

}

@media only screen and (min-width:550px){

    .navbar{
        width: 5rem;
        height: 100vh;
        position: fixed;
        background-color: var(--bg-primary);
        transition: width 200ms ease;
        
    }
    .navbar-nav{
        flex-direction: column;
    }
    .navbar:hover{
        width: 12rem;
    
    }
    .navbar:hover .link-text{
        display: block;
    }
    main{
        margin-left: 5rem;
        padding: 1rem;
    }
    .nav-link{
        display: flex;
        align-items: center;
        height: 5rem;
        color: var(--text-primary);
        text-decoration: none;
        filter: grayscale(100%) opacity(0.7);
        transition: 600ms;
    }
    .nav-link svg {
        max-width: 2rem;
        min-width: 2rem;
        margin: 0 1.5rem;
    }
}

body{
    color: black;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}





.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-item{
    width: 100%;
    font-size: 14px;
}
.nav-item:last-child {    margin-top: auto;
}


.nav-link:hover{
    filter:grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: va(--text-secondary);    

}

.link-text{
    display: none;
    margin-left: 1rem;
}



.fa-icon{
    color:#F8613C;
    transition: 200ms ease;
}

.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg{
    transform: rotate(0deg);
    transition: 600ms;

}

.navbar:hover .logo svg{
    transform: rotate(-540deg);
    transition: 600ms;
    color: var(--text-primary);

}


